.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	width: 100%;
	background-image: url('http://thepatternlibrary.com/img/f.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.inner-text {
	color: white;
}
/* .stats {
	display: flex;
}
.tabla1 {
	display: block;
	width: 600px;
	height: auto;
}
.tabla-grande {
	margin: 0 auto;
}
.tabla2 {
	display: block;
	width: 800px;
	height: auto;
}

@media (max-width: 1100px) {
	.stats {
		display: block;
		margin-left: 10%;
	}
	.tabla1 {
		width: 800px;
	}
}
@media (max-width: 997px) {
	.stats {
		margin-left: 20px;
	}
}
@media (max-width: 850px) {
	.stats {
		margin-left: 10px;
	}
	.tabla1,
	.tabla2 {
		width: 700px;
	}
}
@media (max-width: 780px) {
	.stats {
		margin-left: 2%;
	}
	.tabla1,
	.tabla2 {
		width: 600px;
	}
}
@media (max-width: 664px) {
	.stats {
		margin-left: 2%;
	}
	.tabla1,
	.tabla2 {
		width: 500px;
	}
}
@media (max-width: 532px) {
	.stats {
		margin-left: 0;
	}
	.tabla1,
	.tabla2 {
		width: 450px;
	}
}
@media (max-width: 474px) {
	.stats {
		margin: 0;
	}
	.tabla1,
	.tabla2 {
		width: 330px;
		margin: 0 auto;
	}
}
@media (max-width: 362px) {
	.stats {
		margin: 0;
	}
	.tabla1,
	.tabla2 {
		width: 300px;
		margin: 0;
	}
} */
